.jobitem__block{
    background-color: #E6E9F2;
    height: 100%;
    width: 100%;
    border: 0.1px solid white;
  }
.jobitem__container{
    border-radius: 8px;
    background: #FFFFFF;
    max-width: 1400px;
    height: 164px; 
    margin: 0 auto;
    margin-top: 29px;
    display: flex;
}
.jobitem__container+.jobitem__container{
    margin-top: 8px;
}
.jobitem__element{
    display: flex;
    justify-content: space-between;
}
.container__for-flex{
    margin-top: 24px;
    display: flex;
    margin-left: 16px;
    width: 1070px;
}
.ava__container img{
    border-radius: 50%;
    width: 85px;
    height: 85px;
}
.jobitem__description-block{
    margin-left: 23px;
}
.jobitem__description{
    font-family: 'Proxima Nova';
    color: #3A4562;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
}
.jobitem__department-name{
    font-family: 'Proxima Nova';
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    margin-top: 8px;
    color: #878D9D;
}
.jobitem__location-container{
    display: flex;
    margin-top: 8px;
}
.location__address{
    font-family: 'Proxima Nova';
    color: #878D9D;
    margin-left: 8px;
}
.jobitem__rate{
    display: flex;
    align-items: center;
    margin-left: 32px;
}
.jobitem__post-time{
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    margin-left: 32px;
    max-width: 138px;
    max-height: 116px;
}
.save__vacancie{
    display: flex;
    justify-content: flex-end;
}
.posted__like{
    font-family: 'Proxima Nova';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #878D9D;
    margin-top: 50px;
}
