.workpage__container{
    background-color: white;
    height: 100%;
    max-width: 1260px;
    display: flex;
    margin: 0 auto;
    margin-top: 56px;
}
.maincontent__container{
    max-width: 721px;
    margin: 0 auto;
}