.maincontent__top{
    max-width: 721px;
}
.top__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top__title{
    font-family: 'Proxima';
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #3A4562;
}
.share__save-container{
    display: flex;
}
.top__save-job{
    display: flex;
    align-items: center;
    margin-right: 31px;
}
.top__share-job{
    display: flex;
    align-items: center;
}
.savejob__text{
    margin-left: 15px;
    font-family: 'Proxima';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #3A4562;
}
.sharejob__text{
    margin-left: 15px;
    font-family: 'Proxima';
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #3A4562;
}
.title__border-bottom{
    /* border-bottom: 1px solid #3A4562; */
    height: 1px;
    background-color:  #3A4562;
    opacity: 13.11%;
    margin-top: 10px;
    max-width: 721px;
}